.orderChild {
  position: relative;
  font-size: 1.4rem;
  line-height: 2.4rem;
  height: 150px;

  &__column {
    padding: 35px 8px 18px;

    &:last-child {
      text-align: center;
    }

    &__icon {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__detail {
        height: 20px;
        width: 20px;

        &__edit,
        &__exit {
          font-size: 1.4rem;
          height: 100%;
          width: 100%;
          line-height: 100%;
          background-color: red;
          padding: 4px;
          color: white;
          text-align: center;
        }
      }
    }

    &:nth-child(2) {
      padding: 10px;
    }

    &__image {
      aspect-ratio: 1 / 1;
      width: 100%;
      max-width: 200px;
      object-fit: cover;
      object-position: center;
      transition: transform 0.3s ease;
    }
  }
}
