.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    h2 {
      margin-bottom: 1rem;
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      color: #555;
      text-align: left;
    }

    input[type="text"] {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 1rem;
      box-sizing: border-box;
      transition: border-color 0.3s ease;
    }

    input[type="text"]:focus {
      border-color: var(--primary-color);
      outline: none;
    }

    button {
      padding: 0.8rem 1.2rem;
      margin: 0.5rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      color: #000;

      &:first-child {
        background-color: #ccc;
        color: #333;
      }

      &:first-child:hover {
        background-color: #b3b3b3;
      }

      &:last-child {
        background-color: var(--primary-color);
      }

      &:last-child:hover {
        background-color: var(--red-color);
      }
    }
  }
}
