@mixin text_model {
  color: #1900ff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.account {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #222;
    font-weight: bold;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__column {
      padding: 20px;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      background-color: #f9f9f9;
      width: 50%;
      transition: all ease 0.3s;

      &__title {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
      }

      &__form {
        display: grid;
        gap: 10px;

        &__actions {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }

        &__image {
          padding: 10px;
          width: 100%;
          object-fit: contain;
          object-position: center;
        }

        label {
          textarea {
            resize: vertical;
          }
        }

        &__option {
          display: flex;
          align-items: center;
          margin-top: 5px;
          gap: 10px;

          & > div {
            flex: 2;
          }

          &__delete {
            flex: none !important;
            @include text_model;
          }

          &__size {
            display: flex;
            flex-direction: column;
          }
        }

        &__add {
          @include text_model;
          margin: 5px;
        }

        button[type="button"] {
          margin-top: 10px;
          padding: 10px 20px;
          background-color: var(--primary-color);
          color: #000;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--red-color);
          }
        }

        button[type="submit"] {
          padding: 10px 20px;
          background-color: var(--primary-color);
          color: #000;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--red-color);
          }
        }

        &--full-width {
          grid-column: span 2;
        }

        &--center-button {
          justify-self: center;
        }

        &__group {
          display: flex;
          justify-content: center;
          flex-direction: column;

          &__label,
          &__message {
            text-align: left;
          }

          &__label {
            font-weight: 700;
            padding-bottom: 6px;
            line-height: 1.8rem;
            font-size: 1.4rem;
          }

          &__control {
            height: 40px;
            padding: 8px 12px;
            border: 1px solid #b3b3b3;
            border-radius: 5px;
            outline: none;
            font-size: 1.4rem;
            margin-top: 5px;

            &:hover {
              border-color: var(--primary-color);
            }

            &--select {
              padding: 0;
              border: none;
              border-radius: 3px;
              outline: none;

              &:hover {
                border: none;
              }
            }
          }

          &.invalid &__control {
            border-color: #f33a58;
          }

          &.invalid &__message {
            color: #f33a58;
          }

          &__message {
            font-size: 1.2rem;
            line-height: 1.6rem;
            padding: 4px 0 0;
            height: 1.6rem;
          }
        }
      }
    }

    &__operation {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      cursor: pointer;
      color: #1900ff;
    }
  }
}
